<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/github/MavenDemoSecondTest"><classes><class name="TestNG.GroupExecution2"><methods><include name="Test1"/><include name="Test2"/><include name="Test3"/></methods></class><class name="TestNG.ParallelTest1"><methods><include name="logoTest"/><include name="homepagetitle"/></methods></class></classes></test></suite>